.search-box {
  float: right;
  padding-right: 0;
}
.breadcrumb--native {
  top: 0;
}
.dropdown-menu {
  .no--hover {
    pointer-events: none;
  }
}
.ReactTable {
  border: none;

  .pagination-bottom {
    margin-top: 35px;
  }
  .rt-td {
    text-align: center;
  }
  .rt-table {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .rt-thead .rt-th,
  .rt-thead .rt-td {
    padding: 10px 5px;
  }
  .rt-tr.-odd div,
  .rt-tr.-even div {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .-pagination,
  .rt-thead,
  .rt-tfoot {
    border: none;
  }
  .rt-tfoot {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .rt-thead {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .colum--direction {
    width: 40px !important;
    flex: 100 0 auto !important;
    padding-right: 10px;
  }
  .colum--txinfo {
    width: 40px !important;
    flex: 40 0 auto !important;
  }
  .colum--type {
    width: 40px !important;
    flex: 40 0 auto !important;
  }
  .-pagination {
    .-pageJump {
      margin-right: 5px;
      margin-left: 5px;
    }
    .-btn {
      color: #757575;
      background-color: #efefef;
      border: 1px solid #e0e0e0;

      &:hover {
        color: #fff;
      }
    }
    .-btn[disabled]:hover {
      color: #757575;
    }
  }
  .rt-noData {
    top: 46px;
    width: 100%;
    text-align: center;
    height: 98px;
    padding: 38px;
    background: rgba(255, 255, 255, 0.85);
  }
}
.table-cell-offset-16 {
  padding-left: 16px;
}

.dashboard-claim-interest-btn {
  padding: 4px 14px 4px 7px;
  margin-left: 20px;
}

.win-sync-workaround-btn {
  padding: 4px 7px;
}

.manual-balance-refresh,
.manual-txhistory-refresh {
  position: absolute;
  right: 4px;
  top: 3px;
}

.self-send {
  background-color: #00bcd4;
  border-color: #00bcd4;
  font-size: 13px;
  width: 44px;
  display: block;
  margin: 0 auto;
}

.tx-history-vin-len-err {
  background: #FF6600;
  color: #fff;
  border-radius: 50%;
  padding: 1px 4px;
  margin-left: 10px;
}